## Service configuration
[log]
level = "info"
format = "text"

[server]
# HTTP listen address
addr = ":8080"

## Admin
[admin]
username = "admin"
password = "123456"
email = "demo@demo.com"

## Auth configuration
[auth]
jwt_secret = "YZq8kXrW5dFpNt9mLxQvHbRjKsMnOePw"
jwt_expires_in = "168h"

## Containerd configuration
[containerd]
socket_path = "/run/containerd/containerd.sock"
namespace = "default"

[mcp]
busybox_image = "docker.io/library/memoh-mcp:dev"
snapshotter = "overlayfs"
data_root = "data"
data_mount = "/data"

## Postgres configuration
[postgres]
host = "localhost"
port = 5432
user = "postgres"
password = "1234"
database = "demo"
sslmode = "disable"


## Qdrant configuration
[qdrant]
base_url = "http://127.0.0.1:6334"
api_key = ""
collection = "memory"
timeout_seconds = 10

## Agent Gateway
[agent_gateway]
host = "127.0.0.1"
port = 8081
server_addr = ":8080"

[brave]
api_key = ""
base_url = "https://api.search.brave.com/res/v1/"